.top {
  /* background: rgba(255, 255, 255, 0.1); */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.497);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  padding: 16px;
  border-radius: 7px;
  margin-top: 15px;
}

.center {
  margin: auto;
  width: 40%;
  padding: 10px;
}
label {
  font-size: 15px;
  color: rgb(4, 0, 0);
  /* color: black; */
}
iframe {
  width: 100%;
  height: 295px;
}
textarea {
  height: 100px;
}
#btn {
  padding: 9px;
  margin-top: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.497);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  border: none;
  /* color: black; */
  color: white;
  font-size: 20px;
}

span {
  /* color: black; */
  color: rgb(0, 33, 131);
  text-shadow: -1px -1px 10px rgb(255, 255, 255);
}
.output {
  margin-top: 30px;
  padding: 5px;

  color: black;
  background-color: white;
  justify-content: center;
  display: block;
}
.error {
  display: flex;
  font-size: 13px;
}

/* <div className="col-sm-6">
              <div className="top ">
                <label className="form-label">Last Name</label> <br />
                <input
                  type="text"
                  id="input"
                  name="Lastname"
                  className="form-control"
                  onChange={Handler}
                />
                <span>{Validation.Lastname}</span>
              </div>
              <div className="top ">
                <label className="form-label">Email Address</label> <br />
                <input
                  type="email"
                  id="input"
                  name="Email"
                  className="form-control"
                  onChange={Handler}
                />
                <span>{Validation.Email}</span>
              </div>
              <div className="top ">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.2799198932!2d-74.25987701513004!3d40.69767006272707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1660468897862!5m2!1sen!2sin"></iframe>
              </div>
              <div>
                <input type="submit" className="btn  w-100 " id="btn" />
              </div>
            </div> */

/* <div className="top ">
            <label className="form-label">Company Name</label> <br />
            <input
              type="text"
              id="input"
              name="Company"
              className="form-control"
              onChange={Handler}
            />
            <span>{Validation.Company}</span>
          </div> */
