.top {
  /* background: rgba(255, 255, 255, 0.1); */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.497);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  padding: 16px;
  border-radius: 7px;
  margin-top: 15px;
}
.btnn {
  background-color: rgb(246, 59, 26);
  font-size: 20px;
  color: white;
  border: none;
}
